div#page-auth {
    display: flex;
    align-items: stretch;
    height: 100vh;
}

aside {
    flex:7;
    background: #835afd;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 80px;
}

img#imgIlus{
    max-width: 320px;
}

strong{
    font:700 36px 'Poppins', sans-serif;
    line-height: 42px;
    margin-top: 16px;
}

p{
    font-size: 24px;
    line-height: 32px;
    margin-top: 16px;
    color:#f8f8f8
}

main {
    flex:8;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items:stretch;
    text-align: center;
}

img#logo{
    align-self: center;
}

input#form-input{
    height: 50px;
    border-radius: 8px;
    padding: 0 16px;
    background: #fff;
    border:1px solid #a8a8b3;
    width: 100%;
    text-align: center;
}

button{
   margin-top: 16px;
   width: 100%;
}


button#login-google{
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #ea4335;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:0;
    transition: filter 0.2s;
}

button#login-google:hover{
    filter: brightness(0.9);
}

img#logo-google{
    margin-right: 8px;
}

.separador{
    font-size: 14px;
    color:#a8a8b3;
    margin: 32px 0;
    display: flex;
    align-items: center;
}

.separador:before {
    content:'';
    flex:1;
    height: 1px;
    background: #a8a8b3;
    margin-right: 16px;

}

.separador:after{
    content:'';
    flex:1;
    height: 1px;
    background: #a8a8b3;
    margin-left: 16px;
}

